<%= content_tag :div,
  id: 'vue',
  data: {
    user: current_user.as_json,
    orcid_oauth_url: orcid_oauth_url
  } do %>
  <h1>Manage Your UVA ORCID iD Connection</h1>
  <orcid-dashboard />
<%end%>


